<div class="weekly-ts container">
 <div class="row dropdown-row">
  <md-select placeholder="Select a Month" class="month">
    <md-option [value]="1">January</md-option>
    <md-option [value]="2">February</md-option>
    <md-option [value]="3">March</md-option>
    <md-option [value]="4">April</md-option>
    <md-option [value]="5">May</md-option>
    <md-option [value]="6">June</md-option>
    <md-option [value]="7">July</md-option>
    <md-option [value]="8">August</md-option>
    <md-option [value]="9">September</md-option>
    <md-option [value]="10">October</md-option>
    <md-option [value]="11">November</md-option>
    <md-option [value]="12">December</md-option>  
  </md-select>

  <md-select placeholder="Select a Week" class="week">
    <md-option [value]="13">Week 1</md-option>
    <md-option [value]="14">Week 2</md-option>
    <md-option [value]="15">Week 3</md-option>
    <md-option [value]="16">week 4</md-option>
  </md-select>
</div>

<div class="days-row row">
  <div class="col-xs-2">
    <md-card class="day-card">
      <md-card-header class="day">Monday</md-card-header>
        <md-card-content class="approved num">1</md-card-content>
    </md-card>
  </div> 

  <div class="col-sm-2">
    <md-card class="day-card">
      <md-card-header class="day">Tuesday</md-card-header>
        <md-card-content class="approved num">2</md-card-content>
    </md-card> 
  </div>

  <div class="col-sm-2">
    <md-card class="day-card">
      <md-card-header class="day">Wednesday</md-card-header>
        <md-card-content class="unfilled num">3</md-card-content>
    </md-card> 
  </div>

  <div class="col-sm-2">  
    <md-card class="day-card">
      <md-card-header class="day">Thursday</md-card-header>
        <md-card-content class="today num">4</md-card-content>
    </md-card>
  </div> 

  <div class="col-sm-2">
    <md-card class="day-card">
      <md-card-header class="day">Friday</md-card-header>
      <md-card-content class="future num">5</md-card-content>
    </md-card> 
  </div>
</div>
</div>