
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
	margin: 0;
	overflow: hidden;
	font: 500 20px/32px Roboto,"Helvetica Neue", sans-serif;
	.container {
		margin: 0;
		width: 100vw;
		background: #FFFFFF;
		padding: 30px;
		height: 100vh;
	}	
}

